:root {
  --color-primary: #7c3aed;
  --color-primary-dark: #5b21b6;
  --color-primary-light: #a855f7;

  --color-white: #ffffff;

  --color-background: #ffffff;
  --color-background-soft: #faf7ff;

  --color-text: #18181b;
  --color-text-soft: #52525b;

  --color-border: #ede9fe;
}

html.dark,
[data-theme="dark"] {
  --color-background: #09090b;
  --color-background-soft: #121215;

  --color-text: #fafafa;
  --color-text-soft: #a1a1aa;

  --color-border: #27272a;
}